/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	text-align: center;
	background-color: #124C88;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

footer {
	font-size: .7em;
	width: 100%;
	text-align: none;
	position: absolute;

}
#credit {
	margin: 40px auto;
	height: 5px;
	width: 50%;
}

input {
	width: 30%;
	height: 50px;
	font-size: 1.5em;
	padding: 1%;
	margin: 1% auto;
	border-radius: 10px;
}
h1 {
	font-size: 2em;
	color: #af1212;
	text-shadow: 1px 1px #ffffff;
}
#content {
	width: 40%;
	margin: 2% auto;
	background-color: #eee;
	border-radius: 10px;
	border: 2px solid #000;
	height: 175px;
	position: relative;
}
#logo {
	position: absolute;
	right: 88%;
	top: -20px;
	z-index: 2;
	max-width: 100%;
}

#response {
	font-size: 1.7em;
}
.record {
	width: 25%;
	border: 3px solid #000;
	margin: 2%;
	padding: 1%;
	position: relative;
	border-radius: 5px;
	font-size: 1.4em;
	

}
.left {
	float: left;
	margin-left: 15%;
}
.right {
	float: right;
	margin-right: 15%; 
}
#wins {
	color: #117711;
	font-size: 2em;
}
#losses {
	color: #bb1111;
	font-size: 2em;
}

#instructions {
	color: #ccc;
	margin: 5px auto;
	position: relative;
	top: 10px;

}

@media screen and (max-width: 1000px){
input {
	font-size: 1.1em;
}
#content {
	height: 150px;
}
#logo {
	right: 85%;
}
}

@media screen and (max-width: 900px){
	#logo {
		right: 70%;
		top: -15px;
		height: 75px;
		width: 75px;
	}

}

@media screen and (max-width: 800px){

	.record {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 700px){
#logo {
		right: 28%;
		top: 50%;
		height: 75px;
		width: 75px;
	}

}
@media screen and (max-width: 600px){
#logo {
		right: 25%;

	}
input {
	font-size: .8em;
	height: 30px;
}
}
